<a href="https://colab.research.google.com/github/sudhatisaipavan/23CSBTB27-28/blob/main/LAB_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

part 1- implement basic data Structures using numpy, pandas

In [ ]:
import numpy as np
import numpy as pd

In [ ]:
list = ["Greek","For","Greek"]
list2 = "my first lab"
list3 = 4.3
list4 = 2j+6
list5 = 'my first lab'
print(type(list2))
print(type(list3))
print(type(list4))
print(type(list5))
print("/nlist Items: ")
print(list)
print(type(list))
print(list[0])
print(list[1])

<class 'str'>
<class 'float'>
<class 'complex'>
<class 'str'>
/nlist Items:
['Greek', 'For', 'Greek']
<class 'list'>
Greek
For

In [ ]:
import numpy as np
list = (1,2,3,4,5)
print(list)
print(type(list))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [ ]:
import numpy as np
list = (1, 3, 5, 7, 8)
print(list)
list1 = (2, 4, 6, 8, 10)
print(list1)
print(type(list))
print(type(list1))

(1, 3, 5, 7, 8)
(2, 4, 6, 8, 10)
<class 'tuple'>
<class 'tuple'>